/* Colors: #2F4F4F #80FFFF #66FFFF #B35824 #FF9F66 */
:root{
  --tools-size: 150px;
}

body, html {
    text-align: center;
}

h1, h2, h3, h4, p, span{
  color: white;
}

#topBar{
  position: relative;
  width: 100%;
  background-color: darkslategrey;
  height: var(--tools-size);
  border-bottom: solid 2px rgb(39, 39, 39);
}

.textBox{
  width: 50%;
  height: 35px;
  margin-top: 35px;
}

.input{
  pointer-events: none;
}

.output{
  pointer-events: none;
}

#main{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vmax;
  background-color: darkslategray;
  overflow-y: hidden;
}

#content{
  padding-top: 35px;
  width: 100%;
  height: calc(100% - var(--tools-size));
  position: relative;
  overflow: auto;
  background-color: darkslategrey;
}

/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 6; 
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.750); 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav:hover {
  background-color: rgba(17, 17, 17, 0.900);
}

/* The navigation menu links */
.sidenav a, .sidenav .container {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav .container:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.row {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.container {
  display: inline-block;
  position: relative;
  height: auto;
  width: 24%;
}

.container:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.w-container{
  display: block;
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
}

.w-container:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.box{
  display: block;
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  border: solid white 2px;
  pointer-events: none;
}

.rectangle{
  display: block;
  position: relative;
  height: 100px;
  width: 100%;
  border: solid white 2px;
  pointer-events: none;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50; /* Green */
  color: white;
}

.bitContainer {
  border: 1px solid white;
  height: 25px;
  width: 20px;
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}

line{
  stroke-width:2px;
  stroke:rgb(0,0,0);
}